# Web (Node.js)
node_modules/
dist/
.cache/
*.log
.env
.env.local

# iOS / Xcode
*.xcuserstate
xcuserdata/
DerivedData/
*.xcworkspace/xcuserdata/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
!default.pbxuser
!default.mode1v3
!default.mode2v3
!default.perspectivev3
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
Pods/
Podfile.lock
.build/
Package.resolved

# General
.DS_Store
*.swp
*.swo
*~
.md